# Configuración de SQL Server
SQL_SERVER=tu_servidor
SQL_PORT=1433
SQL_DATABASE=tu_base_de_datos
SQL_USERNAME=tu_usuario
SQL_PASSWORD=tu_contraseña
SQL_DRIVER=SQL Server

# Configuración de API WorldFleet
API_USERNAME=tu_usuario_api
API_PASSWORD=tu_password_api
API_EMPRESA=tu_empresa
API_URL=https://www.worldfleetlog.com/WebFleetStationServices/Online.asmx
