# Streamlit Secrets para deploy en cloud
# Copia este archivo en Streamlit Cloud > Settings > Secrets

[sql_server]
server = "10.10.1.252"
port = 1433
database = "ciex"
username = "jguzman"
password = "Df2kS5LR6rpQ"
driver = "SQL Server"

[api]
username = "wsascension"
password = "Ascension24!"
empresa = "ASCENSION"
url = "https://www.worldfleetlog.com/WebFleetStationServices/Online.asmx"
